.Rules {
  margin: auto;
  width: 70%;
  text-align: left;
  padding: 40px;
  background-color: #f5eee9;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: left;
  margin-top: 3em;
  font-size: 1.3em;
  border-radius: 10px;
}

#fontColor {
  color: red;
}

.Rules p {
  font-size: 10.6px;
}
