.Profile {
  width: 100%;
  max-height: 100vh;
  height: 80vh;
  display: flex;
}
.Profile .left-section {
  background-color: #def0f0;
  width: 30%;
  margin: 0;
}
.left-section .text {
  margin: auto;
  font-size: 3em;
  color: #30415d;
  width: 50%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.Profile .right-section {
  background-color: #fcf7f5;
  width: 38%;
  margin: 0 auto;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  margin-bottom: 250px;
}
.Profile .profile-section-right,
.Profile .profile-section {
  width: 30%;
  align-items: center;
  display: grid;
  font-weight: bold;
  font-size: 1.4em;
  color: #30415d;
  font-family: "Raleway", sans-serif;
  flex-direction: row;
}
.Profile .profile-section {
  height: 90%;
}
.Profile .avatar-icon {
  width: 5em;
  height: 5em;
}
.Profile .avatar {
  display: flex;
}
.comp-left,
.comp-right,
.comp-left-user {
  text-align: left;
}
.comp-left-user {
  margin-top: 1em;
  margin-bottom: 1em;
}
.profile-section-right .avatar-icon {
  margin-bottom: 1em;
}
.right-section .profile-info {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-bottom: 1.5em;
  margin-left: 4em;
  height: 75%;
  width: 100%;
}
.profile-title {
  margin-top: 2em;
  font-weight: bold;
  font-size: 2em;
  color: #30415d;
  font-family: "Raleway", sans-serif;
}
.profile-section-right {
  margin-bottom: 2.5em;
  height: 90%;
}
