.Search {
  padding-top: 6em;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  padding-bottom: 6em;
  display: block;
}
.Search h2,
.searched-posts p {
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}
.searched-posts {
  width: 70%;
  justify-content: center;   
  align-items: center;
  background-color:#f5eee9;
  padding: 1em 4em 1em 4em;
  margin: auto;
  margin-top: 3em;
  padding-bottom: 2em;
  border-radius: 15px;
  min-height: 100vh;
}
.searched-posts-title {
  padding: 0.2em 0em 0.2em 4em;
  background-color: darkcyan;
  margin: 0 auto;
  text-align: left;
  width: 73%;
  border-radius: 10px;
}
