.About {
  display: block;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  justify-content: center;
  margin: auto;
  padding-top: 140px;
  margin-bottom: 2em;
}
.point {
  margin-right: 10px;
  color: #85586f;
}
.about-body,
.contact-body {
  width: 60%;
  min-height: 60vh;
  margin: 0 auto;
  justify-content: center;
  background-color: #f5eee9;
  border-radius: 15px;
  padding: 2em 4em 2em 4em;
  text-align: justify;
}
.about-body p {
  font-size: 1.4em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}