.Home {
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  padding-top: 7em;
  padding-bottom: 4em;
  min-height: 100%;
}
.new-post-btn {
  width: 70%;
  justify-content: center;
  padding: 0em 0em 1em 0em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.all-post-home {
  width: 65%;
  justify-content: center;
  align-items: center;
  background-color: #f5eee9;
  padding: 3em 4em;
  margin: auto;
  border-radius: 15px;
}
.each-post {
  border: 3px solid #30415d;
  border-radius: 10px;
  padding: 10px 15px 5px 15px;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  background-color: white;
}
.right-section-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.post-icon-home {
  font-size: 1.7em;
  display: flex;
  justify-content: right;
}
.post {
  display: flex;
}
.post-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.labelAuthor {
  font-weight: bold;
}
.authorData,
.authorDateTime {
  color: gray;
  font-family: "Raleway", sans-serif;
  font-size: 1.2em;
}
.authorDateTime {
  display: flex;
  justify-content: right;
  align-self: flex-end;
}
.all-count-section {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 15px;
}
.all-count-section .icons {
  padding: 5px 20px 5px 20px;
  font-size: 1.8em;
  color: #30415d;
  align-self: center;
  font-family: "Raleway", sans-serif;
}
.second-hr {
  border-top: 1px solid #f4976c;
}
.btnNewPosts {
  font-family: "Raleway", sans-serif;
  font-size: 1.45em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 10em;
  height: 2.3em;
  background-color: #30415d;
  color: white;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 0.6em;
  align-items: center;
  cursor: pointer;
}
.each-post .avatar {
  margin-right: 2em;
  margin-left: 0.5em;
  margin-top: 0em;
  align-self: center;
  height: 100%;
}
.avatar-icon {
  font-size: 13em;
}
.content .title {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.title .title-content {
  font-size: 1.5em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
.content .title a {
  text-decoration: none;
  color: #30415d;
}
.post-icon-home .comment-icon,
.post-icon-home .edit-icon,
.post-icon-home .delete-icon {
  padding: 13px;
  color: #30415d;
  cursor: pointer;
}
.post-likes {
  margin-top: 0.3em;
  bottom: 0;
  font-size: 2em;
}
.post-like-nmb button {
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}
.right-section-post span {
  font-family: "Raleway", sans-serif;
  color: #30415d;
  font-size: 1.1em;
}
#blocked-msg {
  font-family: "Raleway", sans-serif;
  color: red;
  font-size: 1.3em;
  margin: auto;
}
