.All-posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  max-height: 300vh;
  text-align: left;
  justify-content: space-between;
  font-weight: 600;
  padding-top: 6.5em;
  padding-bottom: 80px;
  margin: auto;
}
.head-menu {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
  margin-top: 2.8em;
}

.head-menu label {
  font-family: "Raleway", sans-serif;
  color: #30415d;
  margin-right: 10px;
  font-size: 1.4em;
}
.All-posts .body-all-post {
  width: 65%;
  justify-content: center;
  align-items: center;
  background-color: #f5eee9;
  padding: 0em 6em 2em 6em;
  margin: auto;
  margin-top: 4em;
  border-radius: 15px;
  min-height: 100vh;
}

.select {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 14em;
  height: 1.7em;
  font-size: 1em;
  background-color: white;
  color: #30415d;
  justify-content: space-evenly;
  display: flex;
  margin-bottom: 0.6em;
  align-items: center;
  cursor: pointer;
}

.select:focus option {
  outline: 0;
  background-color: white;
  color: #30415d;
}

.select:focus {
  outline: 0;
}

.sort,
.filter {
  display: flex;
}

textarea:focus {
  outline: 0;
}

.head-all-post {
  display: flex;
  justify-content: space-evenly;
  background-color: #85586f;
  width: 72%;
  border-radius: 10px;
  margin: auto;
}

.title-all-post {
  font-size: 1.4em;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  color: white;
}

.all-post-count {
  align-self: center;
  font-size: 1.4em;
  display: flex;
}

.post-number {
  font-size: 1.4em;
  color: white;
  font-family: "Raleway", sans-serif;
  margin-top: 4px;
  margin-left: 5px;
}

.list-post-icon {
  font-size: 2.2em;
  color: white;
  opacity: 1;
}

.all-posts-body {
  padding-top: 1em;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pagination {
  width: 30%;
  font-size: 1.4em;
  font-family: "Raleway", sans-serif;
  display: flex;
  width: 30%;
  justify-content: space-between;
  cursor: pointer;
  padding-left: 0;
}

.pagination li {
  display: inline-block;
  font-size: 1.15em;
}

.pagination a {
  width: 3em;
}
.pagination-link {
  font-size: 0.8em;
}

a:hover {
  color: #30415d;
}

li.pagination-active {
  color: #30415d;
  border-bottom: 2px solid #30415d;
}
