.search-section {
  display: flex;
  margin-left: 4em;
  background-color: #85586f;
  border-radius: 15px;
  align-items: center;
  border: 1px solid #85586f;
  height: 3em;
  margin-top: 0.8em;
  justify-content: space-between;
}
.search-bar {
  width: 270px;
  border-radius: 15px;
  border: none;
  padding: 5px 5px 5px 25px;
  transition: all 0.4s ease-in-out;
}
.search-bar:focus {
  width: 320px;
  outline: 0;
  outline: 0;
  transition: all 0.3s ease-in-out;
  color: #f5eee9;
}
.search-section input[type="search"]::placeholder {
  text-align: left;
  font-size: 17px;
  color: #f5eee9;
}
.search-section input[type="search"] {
  text-align: left;
  font-size: 17px;
  color: #f5eee9;
}
.search-button {
  background-color: none;
  font-size: 1.7em;
  margin-right: 1rem;
  color: #f5eee9;
  cursor: pointer;
}
.search-button:active {
  font-size: 1.7em;
}
