.login-nav-links {
  width: 110px;
  border-radius: 12px;
  border: none;
  padding: 8px 7px 8px 15px;
  align-items: right;
  margin: 0;
  cursor: pointer;
  background-color: #f4976c;
  margin-right: 1em;
  display: block;
}
.login-nav-links a {
  color: black;
  margin: 0;
  text-decoration: none;
  display: block;
  color: #30415D;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
}
.login-nav-links a:hover {
  color: #f5f5f5;
}