.CreatePost {
  min-height: 100vh;
  margin-top: 2em;
}

.title-create-post {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  border-radius: 15px;
  margin: auto;
}

.title-create-post h2 {
  font-size: 2em;
  color: #b4dfe5;
  font-family: "Raleway", sans-serif;
}

.header-create-post {
  width: 63%;
  display: flex;
  margin: auto;
  background-color: #30415d;
  border-radius: 10px;
}

.create-post-body {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 3em;
  padding-bottom: 1em;
  text-align: left;
  border: 15px solid #b4dfe5;
  border-radius: 10px;
  background-color: #b4dfe5;
  min-height: 100%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 7em;
}

.create-post {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 2em;
  font-size: 1em;
  font-family: "Raleway", sans-serif;
}

.create-post label {
  color: #30415d;
  padding-bottom: 10px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Raleway", sans-serif;
  padding-left: 3px;
}

.create-post textarea {
  background-color: white;
  width: 90%;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: large;
  font-family: "Raleway", sans-serif;
  color: #30415d;
  padding: 15px 5px 5px 25px;
}

.create-post textarea[type="text"]::placeholder {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  color: #30415d;
  font-family: "Raleway", sans-serif;
  outline: 0;
}
.text-title {
  color: #d4f0f0;
}

.create-post textarea:focus {
  outline: 0;
}

.create-post-body button {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 9em;
  height: 3em;
  background-color: #30415d;
  color: #b4dfe5;
  margin-top: 2em;
  align-items: center;
  cursor: pointer;
}

.title-text,
.tags-text {
  height: 3em;
  width: 95%;
}

.content-text {
  height: 7em;
}

.body-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.create-post-user {
  width: 70%;
  margin: auto;
  height: 7em;
  align-items: center;
  display: flex;
  align-self: center;
  flex-direction: column;
  border-radius: 10px;
}

.create-post-user .avatar {
  margin-left: 3.5em;
  margin-right: 3.5em;
  margin-top: 1em;
  height: 5.5em;
}

.profile-info {
  height: 15%;
  display: flex;
  justify-content: center;
  width: 68%;
  height: 9em;
}
.profile-info .user,
.profile-info .email {
  font-weight: bold;
  font-size: 1.1em;
  align-self: center;
  margin-right: 3em;
  font-family: "Raleway", sans-serif;
  color: #b4dfe5;
}

.err-msg {
  font-size: 1em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #30415d;
  text-align: left;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
}
