.Contact {
  display: block;
  width: 100%;
  min-height: 100vh;
  text-align: left;
  justify-content: center;   
  margin:auto;
  padding-top: 140px;
}

.Contact h2,
.About h2 {
  color: #85586F;
  font-weight: bold;
  font-size: 2.7em;
  font-family: 'Raleway', sans-serif;
}

.contact-body div,
.contact-body p {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
}

.contact-body a {
  text-decoration: none;
  color: darkblue;
}