.drop-menu {
  position: relative;
  display: inline-block;
}

.username-btn {
  background-color: #F5F5F5;
  border: none;
  font-size: 1.4em;
  cursor: pointer;

}

.profile-section{
  display: flex;
  justify-content: center;
}

.profile-section .avatar {
  cursor: pointer;
  color: #f4976c;
}

.profile {
  margin-top: 0.5em;
  margin-right: 0.5em;
  color: #30415D;
  font-weight: bold;
  font-size: 1.3em;
  font-family: 'Raleway', sans-serif;
}


#menu-box {
  margin-top: 0.7em;
  right: 1em;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  height: 9em;
  display:none;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}
.menu-content {
  display: block;
  display: grid;
  min-width: 160px;
  height: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu-content button{
  background-color: #d2e6e9;
  color: #30415D;
  font-weight: bold;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.menu-content button:hover {
  background-color: #30415D;
  color: #b4dfe5;
}

.profile-btn,
.settings-btn {
  text-decoration: none;
  background-color: #d2e6e9;
  padding: 5px;

  color: #30415D;
  font-weight: bold;
  font-size: 1.4em;
  font-family: 'Raleway', sans-serif;
}

.profile-btn:hover,
.settings-btn:hover {
  background-color: #30415D;
  color: #b4dfe5;
}

.imgProfile {
  width: 80px; 
  height:80px; 
  border-radius: 100%;
  border: none;
  /* margin-right: 5px; */
}