.Register {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 5em;
  background-image: url("./15.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.register-form-view {
  width: 80em;
  min-height: 100%;
}
.Register img {
  height: 20em;
  width: 30%;
}
.user-register {
  width: 40%;
  min-height: 100%;
  padding-left: 70px;
  padding-right: 70px;
  border: 5px solid #30415d;
  border-radius: 10px;
  background-color: rgba(243, 238, 233, 0.6);
}
.title-form {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
  height: 7em;
}
.user-register h2 {
  color: #30415d;
  font-size: 3.5em;
  font-family: "Raleway", sans-serif;
}
.Form-register {
  display: flex;
  justify-content: space-evenly;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60vw;
  width: 100%;
  top: 0;
  text-align: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}
.register-btn button {
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 9em;
  height: 3em;
  background-color: #30415d;
  color: #f5eee9;
  margin-top: 0.6em;
  align-items: center;
  cursor: pointer;
}
.profile-icon {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-size: 2em;
  color: #30415d;
}
input:focus {
  outline: 0;
}
.Register .err-msg {
  font-size: 0.9em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: white;
  text-align: left;
  padding-left: 0.3em;
  padding-bottom: 0.3em;
}
.Register input[type]::placeholder,
.Register input[type] {
  text-align: left;
  font-size: 18px;
  font-weight: bold;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  outline: 0;
  color: #30415d;
}
