.all-comments .CreateComment {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 30px;
  padding: 25px;
  margin: 4em;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
  background-color: white;
  font-family: "Raleway", sans-serif;
}
.add-comment-btn button {
  font-family: "Raleway", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  width: 9em;
  height: 3em;
  background-color: #30415d;
  color: white;
  margin-top: 2em;
  align-items: center;
  cursor: pointer;
}
.comment-section {
  width: 97%;
  height: 100%;
  text-align: left;
  background-color: #85586f;
  border-radius: 15px;
  padding: 10px 15px 15px 15px;
  display: flex;
  flex-direction: column;
}
.comment-section textarea {
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 95%;
  font-size: 1.1em;
  padding: 15px;
  background-color: white;
  opacity: 0.6;
}
.auth {
  margin-right: 20px;
}
