.navBar {
  position: relative;
}
.menuShowMenu {
  width: 100vw;
  background: #30415D;
  transition: all 0.2s ease-in-out;
  overflow-y: scroll;
  display: grid;
  position: absolute;
  top: 5.8em;
  height: 4em;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
.nav-links a {
  display: block;
  margin: 0px 30px;
  padding: 5px 7px;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #f5f5f5;
  text-transform: uppercase;
  text-align: center;
  justify-self: center;
  font-weight: bold;
  width:7em;
  height: 1.5em;
  border-radius: 10px;
  font-size: 1.5em;
}
.nav-links>a.active:focus {
  background-color: #f5f5f5;
  color: #30415D;
  outline:none; 
}
.nav-links{
  display:flex;
  justify-content: center;
  align-items: left;
  padding: 5px;
  width: 100%;
  margin: auto;
}
.nav-links a:hover {
  background-color: #f5f5f5;
  color: #30415D;
  transition: all 0.2s ease-in-out;
  left: 0;
}