.generated-comments {
  min-height: 100%;
}

.generated-comments .each-comment {
  border: 3px solid #30415d;
  border-radius: 10px;
  padding: 10px 15px 5px 15px;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
  background-color: white;
  width: 85%;
  min-height: 3em;
  display: flex;
  margin: auto;
  margin-bottom: 2em;
}

.each-comment .avatar-icon {
  margin: auto;
  margin-right: 0.7em;
}

.each-comment .imgProfile {
  margin: auto;
  margin-right: 1.5em;
}
.each-comment .comment-text,
.no-comments {
  font-size: 1.2em;
  font-family: "Raleway", sans-serif;
  color: #30415d;
  background-color: #fcd1ac;
  padding: 1em;
  border-radius: 10px;
}
.each-comment .comment-text {
  width: 93%;
}

.no-comments {
  width: 85%;
  margin: auto;
}
