.settings-section-right {
  height: 90%;
  display: flex;
  flex-direction: column;
  background-color: #fcf7f5;
  width: 40%;
  margin-top: 1.5em;
}
.btnimpUpload{
  display: inline-flex;
}
.btnUpload{
  background-color: #fcf7f5;
  border: #fcf7f5;
  font-size: 20px;
  margin-left: 0.8em;
}
.inputUpload{
  border-radius: 100%;
  background-color: #fcf7f5;
  border: #fcf7f5;
  display: none;
}
.settings-section-right .avatar{
  height: 3em;
  width: 100%;
}
.settings-section-right .Form-settings {
  min-height: 60%;
  font-weight: bold;
  font-size: 1.5em;
  color:#30415D;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.profile-photos {
  display:flex;
  flex-direction: column;
  width:100%;
  height: 9em;
  margin-bottom: 2em;
}
.settings-section-right .edit-icon {
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  font-size: 1em;
}
.saveButtonForEditComment {
  font-size: 15px;
  outline: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0;
  justify-content: space-between;
  align-items: left;
  height: 4em;
  width: 100%;
  display: table-footer-group;
}
.saveButtonForEditComment .names {
  display: flex;
  flex-direction: column;
  font-size: 3em;
  width: 90%;
  margin-right: 1em;
}
.saveButtonForEditComment .input {
  justify-items: center;
  justify-content: left;
  outline: none;
  color: #30415D;
  margin-left: 0;
  padding: 2px;
  border: none;
}
input {
  background: transparent;
}
.comp-right {
  display: flex;
}
.settings-section-right .comp-right {
  height: 2em;
}
.saveButtonForEditComment .err-msg {
  font-size: 0.7em;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: red;
  text-align: left;
}
.saveButtonForEditComment .firstName,
.saveButtonForEditComment .lastName,
.saveButtonForEditComment .password,
.saveButtonForEditComment .email {
  width:auto;
  height: 2em;
}
